@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
  --c-obscuro: rgb(250, 87, 22);
  --c-claro: rgb(243, 158, 102);
  --c-titulo: black;
  --padding-left: 8px;
}

body {
  font-family: 'Kode Mono';
  padding-top: 15px;
  padding-left: 15px;
}

.calculadora {
  background-color: var(--c-claro);
  width: 325px;
  height: 570px;
  border-radius: 20px;
  box-shadow: 4px 4px 2px black;
}

.titulo {
  background-color: var(--c-titulo);
  color: var(--c-obscuro);
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.datos {
  padding: var(--padding-left);
}

.select {
  font-family: 'Kode Mono', 'OCR A Extended';  
  width: 170px;
  background-color: var(--c-obscuro);
  border-radius: 4px;
}

select>option>selected {
  background-color: var(--c-claro);
}

input {
  font-family: 'Kode Mono';
  width: 100px;
  border-radius: 4px;
  padding-left: 4px;
  padding-top: 2px;
  background-color: var(--c-obscuro);
  box-shadow: inset 2px 2px 1px black;
}

.salida {
  margin-left: var(--padding-left);
  margin-right: var(--padding-left);
  margin-bottom: var(--padding-left);
  background-color: var(--c-obscuro);
  padding: 5px;
  height: 45px;
  font-weight: bold;
  box-shadow: inset 2px 2px 1px black;
  border-radius: 10px;
}

.div-botones {
  background-color: var(--c-obscuro);
  width: 220px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  box-shadow: 2px 2px 1px black;
}

table {
  margin: 0 auto;
}

table, th, tr, td {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 1px;
}

tr, td {
  width: 55px;
  height: 55px;
}

.boton {
  background-color: lightcoral;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  box-shadow: 4px 5px 10px black;
  border-radius: 40%;
  position: relative;
  top: 0px;
  left: 7px;
}

.boton:hover {
  cursor: pointer;
  background-color: brown;
}

.boton:active {
  background-color: black;
  color: white;
  left: 12px;
  top: 6px;
  box-shadow: none;
  border: 2px solid white;
}

.instrucciones {
  font-size: 0.75rem;
  padding-left: var(--padding-left);
  padding-top: 10px;
}

.version {
  padding-right: 8px;
  text-align: right;
}